<h1>Admin</h1>

<form>
  <div class="form-group">
    <label for="verboIngles">Verbo</label>
    <input type="text" class="form-control" id="verboIngles" placeholder="Verbo">
  </div>

    <div class="form-group">
    <label for="verboInglesPrimera">1º Columna</label>
    <input type="text" class="form-control" id="verboInglesPrimera" placeholder="1º Columna">
  </div>
    <div class="form-group">
    <label for="verboInglesSegunda">2º Columna</label>
    <input type="text" class="form-control" id="verboInglesSegunda" placeholder="2º Columna">
  </div>
  <div class="form-group">
    <label for="verboSignificado">Significado</label>
    <input type="text" class="form-control" id="verboSignificado" placeholder="Significado">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>